{{> header}}

<head>
  <link rel="stylesheet" href="../../css/custom.css">
</head>
<nav id="sidebar" class="sidenav">
  <div class="sidebar-header mx-auto">
    <img class="img_profile" src="http://www.highpoint.edu/media/home/Jessica-Marley-1.jpg" alt={{user.u_name}}>
    <span>Wellcome: {{user.u_name}}</span>
  </div>
  <ul class="list-unstyled components">
    
  </ul>
</nav>